@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;500;700;900&family=DynaPuff:wght@400;600;700&family=Inter:wght@100;300;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #535c68;
}

.mainVal {
  padding-top: 50px;
  margin-left: 70px;
}

.box {
  width: 450px;
  height: 450px;
  margin-left: 500px;
  margin-top: 100px;
  background-color: #95afc0;
}
#vaInput {
  width: 250px;
  height: 36px;

  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  /* // */
  font-style: normal;
  font-family: "Inter";
  font-size: 15px;
}
.btn {
  width: 63px;
  height: 36px;

  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.box .h1,
.p1,
.p2,
.p3 {
  background-color: #fff;
  width: 349px;
  height: 34px;

  margin-top: 25px;

  font-style: normal;
  padding-left: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.text {
  margin-top: 0px;
  margin-left: 60px;
}
